.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 64px;
    margin: 0px;
    background-color: #2d5d52;
    
}
.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin: 0px;
    padding: 0px;
}
li, a {
    list-style-type: none;
    text-decoration: none;
    color: beige;
    font:  400 16px Roboto;
}
.header-logo {
    align-self: center;
    color: beige;
    font-size: 32px;
    font-family: "Roboto", serif;
    font-weight: 800;
}
body {
    margin: 0px;
}

.main-content-intro {
    padding: 48px 96px;
    background-color: #2d5d52;
    display: flex;
}

.main-content-intro img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.intro-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: white;
}
.intro-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
    margin: 8px 0px;
}

.left-intro {
    padding: 8px;
}

.button-intro {
    border-radius: 8px;
    border: none;
    height: 30px;
    width: 100px;
    background: #eee;
}

.content {
    display: flex;
    padding: 16px 64px;
    flex-direction: column;
}

.content-title {
    justify-content: center;
    align-self: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 36px;
}

.content-box {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 4px;
    
}

.box-container {
    display: flex;
    justify-content: space-between;
    margin: 16px 48px 48px 48px;
}

.content-box img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 100% 90%;
}

.content-box-info {
    padding: 8px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 150px;
}

.content-box.img2 img {
    transform: scale(1.7);
    transform-origin: bottom center;
}

.content-quote {
    padding: 48px 160px;
    background-color: #e5e7eb;
}
.quote {
    font: italic 300 36px Roboto;
    color: #1f2937;
    text-align: left;
}
.quote-author {
    font:  600 24px Roboto;
    color: #1f2937;
    text-align: right;
}

.ad-card {
    margin: 48px 128px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #379767;
    height: 100px;
    border-radius: 8px;
}
.card-title {
    font:  600 20px Roboto;
    color: #eee;
}
.card-text {
    font:  300 16px Roboto;
    color: #eee;
}
.card-button {
    background-color: transparent;
    color: #eee;
    border: solid #eee;
    padding: 4px 12px;
    font-size: 12px;
}
.footer {
    background-color: #303741;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
}
